html body {
	padding: 20px;
    font-family: 'OpenSansRegular';
    color: #222222;
    font-size: 15px;
}

p {
	margin-bottom: 15px;
    font-size: 15px;
}

blockquote {
    padding-left: 30px;
}

h1 {
	margin-top: 0;
    margin-bottom : 20px;
    font-family: 'TitilliumText25L400wt';
    font-size: 40px;
	font-weight: normal;
    -webkit-transform : rotate(-0.0000000001deg);
}

h2 {
    margin-bottom: 20px;
    margin-top: 35px;
	font-size: 20px;
	font-family: 'TitilliumText25L400wt';
}

h3 {
    margin: 12px 0px;
    font-family: 'TitilliumText25L400wt';
    font-size: 12px;
}

li ol li {
    margin-left: 24px; 
}

code {
    border: 1px solid #e5e5e5;
    padding: 2px 6px;
    background-color: #f2f2f2;
    color: #f01e39;
    font-family: Consolas, monospace;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
}

pre {
    font-family: Consolas, monospace;
}

pre.code {
    border: 1px solid #e5e5e5;    
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
    background-color: #f7f7f7;
    color: #045D87;
    font-family: Consolas, monospace;
	font-size: 15px !important;
	line-height: 19px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.example-info {
    width       : 150px;
    border      : 1px solid #E5E5E5;
    background  : #ffffff url( info-bg.gif ) repeat-x;
    font-size   : 11px;
    padding     : 8px;
}

.msg .x-box-mc {
    font-size : 14px;
}

#msg-div {
    position : absolute;
    left     : 35%;
    top      : 10px;
    width    : 250px;
    z-index  : 20000;
}

.x-grid3-row-body p { margin : 5px 5px 10px 5px !important; }

.sandbox-wrapper { padding : 12px; }

.sandbox-toolbar {
	text-align       : right;
	display          : block;
	border           : none;
	padding          : 4px;
	background-color : #F2F2F2;
	border-bottom    : 1px solid #0589C7;
}

.sandbox-toolbar table { display : inline; }

/*  Access theme specific styles
    -----------------------------------------------------------------------------------------------*/

.x-theme-access html body {
    color:#f2f2f2;
}

